.ItmButton{
    padding:1%;
    border-radius: 50px; 
    width: 100%;
    margin:0.1%;
}

.ItemWrapper{
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    background-color:rgba(23,23,23,0.0);
}
