.predict-filter {
    color: black;
    /*padding: 0 1rem;*/
    width:30%;
    float:right;
    margin-bottom: 1em;
    position:sticky;
    top:0;
   
  }
  
  .predict-filter__control {
    display: flex;
    /*width: 70%;*/
    align-items:flex-end;
    justify-content:space-around;
    /*background-color:coral;*/
    background-color: rgba(255, 127, 80, 0.562);
    border-radius: 20%;
    padding: 2%;
    /*margin: 1rem 0;
    margin-left:0;*/
  }
  
  .predict-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    /*background-color: coral;*/
    background-color: rgba(255, 127, 80, 0);
  }
  
  .predict-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    float: right;
    background-color: blanchedalmond;
  }
